<%- include('partials/header') %>
<h1>Add Admin</h1>
<div class="container"></div>
</div>
    <form action="/administrations/addAdministration" method="post">
        <label>Location Complaint</label><br>
        <input type="text" name="campus" placeholder="e.g. Jakarta Timur"><br><br>
        <label>Address</label><br>
        <input type="text" name="address" placeholder="e.g. Bandung"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('partials/footer') %> 