<%- include('partials/header') %>
<!-- Content-->
<div class="container">
    <form action="/users/addUser" method="post">
        <label>First Name</label><br>
        <input type="text" name="firstName" placeholder="e.g. Nafisa"><br><br>
        <label>Last Name</label><br>
        <input type="text" name="lastName" placeholder="e.g. Alfiani"><br><br>
        <label>Username</label><br>
        <input type="text" name="userName" placeholder="e.g. DayuHidayatullah"><br><br>
        <label>E-mail Address</label><br>
        <input type="text" name="gmail" placeholder="e.g. DayuHidayatullah@gmail.com"><br><br>
        <label>Password</label><br>
        <input type="text" name="password" placeholder="e.g. Cantik"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('partials/footer') %> 