<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <form action="/users/addUser" method="post">
        <label>First Name</label><br>
        <input type="text" name="firstName" placeholder="e.g. Nafisa"><br><br>
        <label>Last Name</label><br>
        <input type="text" name="lastName" placeholder="e.g. Alfiani"><br><br>
        <label>Password</label><br>
        <input type="text" name="password" placeholder="e.g. Cantik"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>