<%- include('partials/header') %>
<!-- Content-->
<div class="container">
    <h1>List Complaint</h1>
    <form action="/complaints/addComplaint" method="post">
        <label>Complaint Description</label><br>
        <input type="text" name="complaint_description"><br><br>
        <label>Date</label><br>
        <input type="date" name="date"><br><br>
        <label>Complaint</label><br>
        <select name="admin">
            <option value="">Choose...</option>
            <% data.forEach(e => { %>
                <option value="<%= e.id %>"><%= e.complaintLocation %></option>
            <% }) %>
        </select><br><br>
        <button type="submit">Add Complaint</button>
    </form>
</div>
<%- include('partials/footer') %> 