<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Location Complaint</title>
</head>
<body>
    <a href="/administrations/addAdministration"><button>Add Location</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Location Complaint</th>
                <th>Address</th>
                <th>List Location Complaint</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(e => { %>
                <tr>
                    <td><%= e.complaintLocation %></td>
                    <td><%= e.address %></td>
                    <td>
                        <a href="/administrations/<%= e.id %>/listComplaint"><button>See Tours</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>