<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Welcome</h1>
    <a href="/users/register"> Register In Here</a><br>
    <a href="/users/login"> Login In Here</a><br>
    <a href="/users"> Show List</a><br>
    

</body>
</html>